
body{
	
}
span{
	color:blue;
}

#name{

}

a{
	width:100%;
	border-top:3px solid black;
	position:absolute;
	bottom:0;
	text-align:center;
	padding:10px;
	text-decoration:none;
	background:black;
	color:white;
	font-size:1.5vw;
}
a:hover{
	background:#333333;
}

#main{
	width:60%;
	margin-left:20%;
	margin-top:10%;
	border-left:2px solid black;
	padding-left:10px;
	padding-top:25px;
	padding-bottom:25px;
	font-size:vw;
}