body {
	width:80%;
	margin:auto;
}

input {
	float:left;
	width:100%;
	margin:2px;
}

h1 {
	text-align:center;
	font-size:4vw;
	color:#429E7F;
}

#gameplay {
	
	
	width:70%;
	float:left;
	
}
button{
	float:left;
	width:65%;
	background: linear-gradient(90deg, green, darkgreen);
	color:white;
	font-size:1.2vw;
	padding:5px;
	border:none;
	border-radius:5px;
}

button:hover{

	background: linear-gradient(90deg,  darkgreen, green);
}

img{
	width:100%;

}



}
#wrong {
	height:100%;
	width:20%;
	margin:0;
	float:left;
	margin-top:30px;
}



.guessLetter {
	font-size:4vw;
	margin:10px;
	color:blue;

}

#guessed {
	margin-bottom:0px;
	float:left;
}

.remaining{
	margin:0 0;
	width:25%;
	float:left;
	text-align:center;
	padding-bottom:5px;
	
	


}

#remaining {
	font-size:3vw;
	margin-top:20px;
	float:right;
	width:30%;
}




.remaining:hover {
	color:#429E7F;
	border-bottom:5px solid crimson;
	color:crimson;
	padding-bottom:0;


}

.invisible {
	visibility:hidden;
}



#wrong {
	
	margin-right:0;
	color: red;
	font-size: 2.99vw;
	width:27%;
	border:2px solid red;
	float:right;
	margin-top:5%;
	margin-bottom:5%;
	padding:10px;
}
.wrong{
	margin:5px;
	text-decoration: underline;


}



a {
	width:100%;
	background:#965E2D;
	float:left;
	color:white;
	text-align:center;
	padding-top:10px;
	padding-bottom:10px;
	border-radius:7px;
	margin:5px;
	margin-top:0;
	margin-bottom:5%;
	display:block;
	text-transform: uppercase;
	letter-spacing:2px;
	text-decoration:none;
	height:100%;


}

a:hover {
	background:#2D964D;
}
